

.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align items to the bottom */
  height: 100vh; /* Adjust the container height to fill the viewport */
  background-repeat: no-repeat;
  background-image: url("../../img/login_background.png");
  background-size: cover;

}

.username,
.password {
    border-radius: 5px;
    border: none;
    color: #F4F4F9;
    background-color: rgba(0, 0, 0, 0.3); /* Example of a semi-transparent black background */
    margin-bottom: 10px;
    height: 24px;
}

::placeholder{
color: #F4F4F9;
}

.input-container {
    position: relative;
  }
  
  .icon {
    position: absolute;
    top: 3.5px;
    left: 8px;
 

  }
  
  .username,
  .password {
    padding-left: 30px; 
  }
  