.enter-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .enter-button {
    background-color: #F4F4F9;
    border-radius: 4px;
    width: 205px;
    color: #F58282;   
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    height: 24px;
    position: relative;
    bottom: 170px;
    
  }

  .enter-button:hover{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
  }