.profile-container{
  height: 100vh;
  font-family: 'Montserrat';
  font-weight: 900;
  background-image:url("../../img/other_pages_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #F58282;;
  }
  

  .inline-block{
    height: 32px;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: #F58282;;

  }

