.profile-container{
background-color: #F4F4F9;
height: 100vh;
font-family: 'Montserrat';
font-weight: 900;
background-image:url("../../img/other_pages_bg.png");
background-repeat: no-repeat;
background-size: cover;©
}

